<div class="main-join__wrapper">
  <div class="main-join">
          <span>
            Join the waitlist
          </span>

    <button>
      <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M19.4875 9.63037C19.4874 9.4094 19.3996 9.19749 19.2434 9.04124C19.0871 8.88499 18.8752 8.7972 18.6543 8.79717L11.9874 8.79717C11.8768 8.79524 11.7669 8.81537 11.6641 8.85638C11.5613 8.89739 11.4677 8.95846 11.3888 9.03602C11.3099 9.11358 11.2472 9.20608 11.2044 9.30813C11.1616 9.41017 11.1396 9.51972 11.1396 9.63037C11.1396 9.74103 11.1616 9.85057 11.2044 9.95262C11.2472 10.0547 11.3099 10.1472 11.3888 10.2247C11.4678 10.3023 11.5613 10.3634 11.6641 10.4044C11.7669 10.4454 11.8768 10.4655 11.9874 10.4636L16.6425 10.4636L8.83903 18.2671C8.68275 18.4234 8.59495 18.6353 8.59495 18.8563C8.59495 19.0774 8.68275 19.2893 8.83903 19.4456C8.99531 19.6019 9.20727 19.6897 9.42829 19.6897C9.6493 19.6897 9.86126 19.6019 10.0175 19.4456L17.8211 11.6421L17.8211 16.2972C17.8249 16.5157 17.9143 16.7239 18.0702 16.8771C18.226 17.0302 18.4358 17.1161 18.6543 17.1161C18.8728 17.1161 19.0825 17.0302 19.2384 16.8771C19.3942 16.7239 19.4837 16.5157 19.4875 16.2972L19.4875 9.63037Z"
          fill="#2F4858"/>
      </svg>
    </button>
  </div>
</div>