.section-banner-blog {
    position: relative;
    min-height: clamp(500px, 41.67vw,800px);
    display: flex;
    flex-direction: column;
}
.section-banner-blog .container {
    flex:1;
    display: flex;
    flex-direction: column;
}
.section-banner-blog:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    position: absolute;
    background: linear-gradient(180deg, #121B22 0%, rgba(18, 27, 34, 0.00) 50%, #121B22 100%) 50% / cover no-repeat;
    pointer-events: none;
}
.section-banner-blog .section-banner-blog__wrap {
    position: relative;
    
    flex:1;
}
.section-banner-blog img {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    z-index: -1;
}

.section-banner-blog .section-banner-blog__wrap .content {
    position: absolute;
    top:0;
    left:0;
    max-width: clamp(600px, 42.92vw,824px);
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.section-banner-blog  .title {
    margin:0; 
}
.section-banner-blog  .title h1 {
    font-family: var(--font-family);
    font-size: var(--font-size-64);
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    background: linear-gradient(to right,#FFFFFF 0%,#677987 100%),linear-gradient(to right,#2F4858 0%,#677987 100%), #494D50;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section-banner-blog .text {
    margin-top:24px;
}
.section-banner-blog .text  p{
    margin:0;
    color: #FFF;
    font-family: var(--font-family);
    font-size: var(--font-size-24);
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 33.6px */
    opacity: 0.8;
}

@media (max-width:767px) {
    .section-banner-blog:before {
        content: none;
    }
    .section-banner-blog {
        min-height: 100lvh;
        position: relative;
    }
    .section-banner-blog  .title h1  {
        -webkit-background-clip: initial;
        -webkit-text-fill-color: #D9D9D9;
        background: none; 
    }
}