.section-banner-article {

}
.section-banner-article .section-banner-article__wrap .top{
    padding:clamp(96px, 11.72vw ,225px) 0 clamp(200px, 16.04vw, 308px) 0;
    background: linear-gradient(180deg, #2F4858 0%, #677987 100%), linear-gradient(180deg, #121B22 0%, rgba(18, 27, 34, 0.00) 50%, #121B22 100%),  lightgray 50% / cover no-repeat;
}
.section-banner-article .section-banner-article__wrap .top .top__wrap {
        max-width: clamp(600px, 49.95vw, 959px);
        margin:0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap:24px;
}
.section-banner-article .title {
    margin:0;
}
.section-banner-article .title h1 {

    margin:0;

    color: #D9D9D9;
    text-align: center;
    font-family: var(--font-family);
    font-size: var(--font-size-64);
    font-style: normal;
    font-weight: 500;
    line-height: 110%; 
}
@media (min-width:641px) {
    .section-banner-article .title h1 {
        background: linear-gradient(to right,#FFFFFF 0%,#677987 100%),linear-gradient(to right,#2F4858 0%,#677987 100%), #494D50;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
.section-banner-article .text {
    margin:0 auto;
    max-width: clamp(550px, 44.38vw, 852px);
}
.section-banner-article .text p {
    opacity: 0.8;
    color: #FFF;
    text-align: center;
    font-family: var(--font-family);
    font-size: var(--font-size-24);
    font-style: normal;
    font-weight: 500;
    line-height: 140%; 
}
.section-banner-article .image .image__wrap {
    position: relative;
    padding-top: 34.78%;
    border-radius: 16px;
    overflow: hidden;
    min-height: 300px;
}
.section-banner-article .image .image__wrap img {
    position: absolute;
    top:0;
    left:0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section-banner-article .bottom {
    margin-top: clamp(-208px, -10.83vw, -100px)
}
.section-banner-article .bottom__wrap {
    padding:0 clamp(20px, 2.08vw,40px);
    max-width: 1920px;
    margin:0 auto;
}

@media (max-width:640px) {
    .section-banner-article .title h1, .section-banner-article .text p {
        text-align: left;
    }
    .section-banner-article .text, .section-banner-article .section-banner-article__wrap .top .top__wrap {
        max-width: 100%;
    }
    .section-banner-article .bottom__wrap {
        padding:0;
    }
    .section-banner-article .bottom {
        margin-top: 0;
    }
    .section-banner-article .section-banner-article__wrap .top {
        padding-bottom: 40px;
    }
    .section-banner-article .image .image__wrap {
        border-radius: 0;
    }
}