.main-join__wrapper {
    background-color: #fff;
    border-radius: 100px;
    min-height: 48px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 207px;
}

.main-join button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: 0;
    border: none;
    background-color: #FFDB70;
    border-radius: 100px;
}

.main-join span {
    font-family: Inter Tight;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0;
    vertical-align: middle;
    color: #2F4858;
}

.main-join {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding-right: 4px;
    gap: 16px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}