.main-hero {
    background: linear-gradient(180deg, #2F4858 0%, #677987 100%);
    position: relative;
}
/* .main-hero .container {
    position: relative;
} */
.main-hero img {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    object-fit: contain;
    z-index: 0;
}
.main-hero__wrap {
    min-height: 100vh;   
    position: relative;
    z-index: 2;
    display: flex;
    align-items: flex-end;
    padding-bottom: clamp(64px, 4.167vw, 80px);
}
.main-hero__wrap .content {
    max-width: 373px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:32px;
    
}
.main-hero .text p {
    margin:0;
    color: #FFF;
    font-family: var(--font-family);
    font-size: clamp(18px, 1.04vw, 20px);
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 26px */
}

@media (max-height:600px) {
    .main-hero__wrap {
        min-height: 896px;
    }
} 
@media (max-width:500px) {
    .main-hero {
        background: linear-gradient(180deg, #2F4858 0%, #677987 100%), #FFF;
    }

    .main-hero img {
        object-position: top;
        object-fit: cover;
    }
    .main-hero__wrap .content{
        gap:12px;
        max-width: 100%;
    }

    
}

@media (max-width:389px) {
    .main-hero img {
        object-position: top;
        object-fit: contain;
    }
    .main-hero .btn__wrap {
        display: flex;
        justify-content: flex-end;
    }
}