.main-more {
    background: linear-gradient(180deg, #121B22 0%, #2F4858 100%);
    padding: clamp(64px, 7.29vw, 140px) 0;
}

.main-more__title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: clamp(32px, 2.5vw, 48px)!important;
    line-height: 100%;
    letter-spacing: 0;

    background: linear-gradient(75deg, #FFF 0%, #677987 30.08%), #494D50;
    color: transparent;
    background-clip: text;
}
.main-more .item {
    display: flex;
    flex-direction: column;
    gap:clamp(16px, 1.25vw, 24px);
}
.main-more .item .image__wrap {
    position: relative;
    overflow: hidden;
    padding-top:103.5%;
    border-radius: clamp(12px, 0.83vw, 16px);
}
.main-more .item .image, .main-more .item .content {
    width: 100%;
}
.main-more .item .image__wrap img {
    display: block;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main-more .item .title h3 {
    color: #FFF;
    font-family: var(--font-family);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin:0;
}
.main-more .item .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:16px;
    flex:1;
}
.main-more .item .text p {
    margin:0;

    color: #FFF;
    font-family: var(--font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    opacity: .8;
}
.main-more custom-slider {
    margin-top:clamp(40px, 3.07vw, 59px);
    counter-reset: num;
}

.main-more .item .image {
    counter-increment: num;
}
.main-more .item .image__wrap::before {
    content: counter(num, decimal-leading-zero) " ";
    position: absolute;
    top:24px;
    left:24px;
    z-index: 3;

    color: #FFF;
    font-family: var(--font-family);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
@media (max-width:500px) {
    .main-more .container {
        padding:0;
    }
    .main-more h2 {
        padding:0 16px;
        text-align: center;
    }
}