.section-horizontal-scroll {
    position: relative;
}
.section-horizontal-scroll .bg {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}
.section-horizontal-scroll  animation-scroll {
   
   position: relative;
   z-index: 1;
  
}
.section-horizontal-scroll .numeric {
    border-radius: 100px;
    background: rgba(255, 255, 255, 0.10);
    padding:16px 24px;
}
.section-horizontal-scroll .numeric span {
    
    color: #FFF;
    font-family: var(--font-family);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
.section-horizontal-scroll  .animation-scroll__wrap {
    display: flex;
    overflow-x: hidden;
}
.section-horizontal-scroll  animation-scroll .block {
    width: 100vw;
    min-width: 100vw;
}
.section-horizontal-scroll  .block__wrap {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
}
.section-horizontal-scroll  .block-title .title {
    margin:0 auto;
    max-width: clamp(400px, 48.7vw, 935px);
}
.section-horizontal-scroll  .block-title .title h2 {
    color: #FFF;
    text-align: center;
    font-family: var(--font-family);
    font-size: var(--font-size-100);
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 100px */
}

.section-horizontal-scroll .block-image-text .image-text {
    display: flex;
    gap:20px;
    max-width: 84.233%;
    margin:0 auto;
    flex:1;
    height: 100%;

}
.section-horizontal-scroll .block-image-text .image {
    height: 100%;
}
.section-horizontal-scroll .block-image-text .image .image__wrap {
    position: relative;
    height: 100%;
    border-radius:16px;
    overflow: hidden;
}
.section-horizontal-scroll .block-image-text .image .image__wrap img {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section-horizontal-scroll .block-image-text .image-text .left, .section-horizontal-scroll .block-image-text .image-text .right {
    width:calc(100% / 2 - 10px);
    
}
.section-horizontal-scroll .block-image-text .image-text .right {
    padding:clamp(32px, 3.33vw, 64px) clamp(16px, 3.33vw, 64px) clamp(32px, 3.33vw, 64px) clamp(16px, 3.33vw, 64px);
    border-radius: 24px;
    background: rgba(103, 121, 135, 0.10);
    display: flex;
    gap:20px;
    flex-direction: column;
    justify-content: space-between;
}
.section-horizontal-scroll .block-image-text .image-text .right .content {
    flex:none
}
.section-horizontal-scroll .block-image-text .image-text .right .label {
    border-radius: 100px;
    background: rgba(255, 255, 255, 0.10);
    display: flex;
    align-items: center;
    gap:16px;
    padding:16px 24px 16px 16px;

}
.section-horizontal-scroll .block-image-text .image-text .right .heading {
    display: flex;
    gap:20px;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
}
.section-horizontal-scroll .block-image-text .image-text .right .label .circle {
    width:8px;
    height: 8px;
    border-radius: 50%;
    background: #FFF;
}
.section-horizontal-scroll .block-image-text .image-text .right .label span {
    color: #FFF;
    font-family: var(--font-family);
    font-size: var(--font-size-14);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
.section-horizontal-scroll .block-image-text .image-text .right .content .title h3 {
    margin:0;
    color: #FFF;
    font-family: var(--font-family);
    font-size: var(--font-size-32);
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 32px */
}
.section-horizontal-scroll .block-image-text .image-text .right .content .title {

}
.section-horizontal-scroll .block-image-text .image-text .right .content .text {
    margin-top:clamp(16px, 1.25vw, 24px);
}
.section-horizontal-scroll .block-image-text .image-text .right .content .text p {
    color: #FFF;
    font-family: var(--font-family);
    font-size:clamp(16px, 1.04vw, 20px);
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 30px */
}
.section-horizontal-scroll .block-image-text .image-text .right .content .btn__wrap {
    margin-top:32px;
}
.section-horizontal-scroll .block-image-text .image-text {
    padding:clamp(0px, 3.49vw,67px) 0;
}

@media (max-width:1920px) {
    .section-horizontal-scroll .block-image-text .image-text {
        max-height: clamp(650px, 46.88vw,900px);
    }
}


@media (max-width:767px) {
    .section-horizontal-scroll .numeric {
        display: none;
    }
    .section-horizontal-scroll .block-image-text .image-text {
        max-height: 100%;
    }
    .section-horizontal-scroll .block-image-text .image-text {
        flex-direction: column;
        justify-content: center;
    }
    .section-horizontal-scroll .block-image-text .image .image__wrap {
        padding-top:77.5%;
    }
    .section-horizontal-scroll .block-image-text .image-text .left, .section-horizontal-scroll .block-image-text .image-text .right {
        width: 100%;
    }
    .section-horizontal-scroll .block-image-text .image-text .right {
        flex:1;
    }
    .section-horizontal-scroll .block-title {
        padding:0 16px;
    }
    .section-horizontal-scroll .block-title .title {
        max-width: 80%;
    }
    .section-horizontal-scroll .block-image-text .image-text {
        max-width: 100%;
        padding:0;
    }
}
