.content .shopify-policy__container {
  --color-text-primary: rgba(73, 77, 80, 0.8);
  --color-heading: rgba(73, 77, 80, 1);
  max-width: 940px;
  padding: 96px 16px 80px;
}
@media screen and (min-width: 990px) {
  .content .shopify-policy__container {
    font-size: 18px;
    padding-top: 165px;
    padding-bottom: 141px;
  }
}
.content .shopify-policy__container .shopify-policy__title {
  margin: 0 0 45px;
}

.shopify-policy__container .shopify-policy__title {
  text-align: left;
}
.shopify-policy__container h1 {
  font-size: calc(var(--heading-font-size) * 2.5);
  font-weight: 500;
}
@media screen and (min-width: 990px) {
  .shopify-policy__container h1 {
    font-size: calc(var(--heading-font-size) * 4);
  }
}
.shopify-policy__container h2 {
  font-size: calc(var(--heading-font-size) * 1.25);
  font-weight: 500;
  line-height: 1.2;
}
@media screen and (min-width: 990px) {
  .shopify-policy__container h2 {
    font-size: calc(var(--heading-font-size) * 1.5);
  }
}
.shopify-policy__container h3 {
  font-size: calc(var(--heading-font-size) * 1.5);
  font-weight: 500;
  line-height: 1.2;
}
@media screen and (min-width: 990px) {
  .shopify-policy__container h3 {
    font-size: calc(var(--heading-font-size) * 2);
  }
}
.shopify-policy__container .rte {
  line-height: 1.5;
}
.shopify-policy__container .rte * + h2 {
  margin-top: 33px;
}
.shopify-policy__container .rte * + h3 {
  margin-top: 40px;
}
.shopify-policy__container .rte h2 {
  margin-bottom: 15px;
}
@media screen and (min-width: 990px) {
  .shopify-policy__container .rte h2 {
    margin-bottom: 16px;
  }
}
.shopify-policy__container .rte h3 {
  border-top: 1px solid #e4e7ec;
  padding-top: 40px;
}
.shopify-policy__container .rte p {
  line-height: 1.5;
}
.shopify-policy__container .rte p + p {
  margin-top: 17px;
}
.shopify-policy__container .rte p + ul {
  margin-top: 16px;
}
.shopify-policy__container .rte ul {
  margin-bottom: 17px;
}
.shopify-policy__container .rte ul > li {
  padding-left: 24px;
}
.shopify-policy__container .rte ul > li:before {
  background: var(--color-text-primary);
  border-radius: 100%;
  border: 0;
  height: 4px;
  left: 10px;
  top: calc(var(--body-font-size) * 1.4 / 2);
  width: 4px;
}
@media screen and (min-width: 990px) {
  .shopify-policy__container .rte ul > li:before {
    height: 6px;
    width: 6px;
  }
}
.shopify-policy__container .rte ul li + li {
  margin-top: 0;
}
.shopify-policy__container .rte ul strong {
  font-weight: 600;
}
.shopify-policy__container .rte a {
  color: inherit;
}
.shopify-policy__container .rte table {
  background: #f7f8f8;
  border-radius: 16px;
  border-spacing: 0;
  display: table;
  margin: 40px auto;
  table-layout: fixed;
  width: 100%;
}
.shopify-policy__container .rte table tbody tr:nth-child(2n) td::before {
  display: none;
}
.shopify-policy__container .rte table th {
  color: var(--color-heading);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  padding: 17px 15px 0;
}
@media screen and (min-width: 750px) {
  .shopify-policy__container .rte table th {
    padding-inline: 32px;
    padding-top: 34px;
  }
}
@media screen and (min-width: 990px) {
  .shopify-policy__container .rte table th {
    font-size: 24px;
    padding-top: 31px;
  }
}
.shopify-policy__container .rte table td {
  background: none;
  padding: 19px 16px 32px;
}
@media screen and (min-width: 750px) {
  .shopify-policy__container .rte table td {
    padding-inline: 32px;
  }
}
@media screen and (min-width: 990px) {
  .shopify-policy__container .rte table td {
    padding-top: 16px;
  }
}
.shopify-policy__container .rte table ul {
  margin: 1px 0 0;
}
.shopify-policy__container .rte table ul li + li {
  margin-top: 16px;
}