.shopify-section--newsletter .newsletter {
  background: linear-gradient(180deg, #2f4858, #121b22), #677987;
}
.shopify-section--newsletter .newsletter .newsletter__wrapper {
  background: none;
}
.shopify-section--newsletter .newsletter .newsletter__content {
  padding: 0 !important;
}
.shopify-section--newsletter .newsletter__label {
  background: rgba(226, 230, 233, 0.1);
  border: 1px solid rgba(226, 230, 233, 0.4);
}
.shopify-section--newsletter .newsletter__heading {
  letter-spacing: 0;
  margin-bottom: clamp(26px, 3.33vw, 50px);
  margin-top: 17px;
}
@media screen and (min-width: 1200px) {
  .shopify-section--newsletter .newsletter__heading {
    margin-top: 10px;
  }
}
.shopify-section--newsletter .newsletter__form-wrapper form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  gap: 24px;
  margin: 0 auto;
  max-width: 564px;
}
@media screen and (min-width: 1200px) {
  .shopify-section--newsletter .newsletter__form-wrapper form {
    flex-direction: row;
    gap: 0;
  }
}
.shopify-section--newsletter .newsletter-form .input-wrapper .input-label.newsletter-form__label {
  display: none;
}
.shopify-section--newsletter .newsletter .newsletter-form__field input {
  padding: 0 22px !important;
}